.btn-yellow {
    background-image: linear-gradient(to bottom, #ECFF00 0, #B1BF00 100%);
    background-repeat: repeat-x;
    color: rgb(255,255,255);
    border: 1px solid #B1BF00;
    padding: 5px 15px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
}
.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #B1BF00;
    background-position: 0 -15px;
}