.ECR {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.footer {
    background-color: #cccccc;
    height: 150px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.App-intro {
  font-size: large;
}

.padtop {
  margin-top: 10px;
}

span.error {
  background-color: rgba(255,0,0,.25);
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 5px;
}

span.error::before {
    content: "Error! ";
    font-weight: 600;
    color: red;
}

.align-left {
    text-align: left;
}
.padleft {
    padding-left: 10px;
}

.padright {
    padding-right: 10px;
}

.btn-red {
    background-color: #d9534f;
    color: rgb(255,255,255);
    border: 1px solid #d43f3a;
    padding: 5px 15px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
}
.btn-red:hover,
.btn-red:focus {
    background-color: #d43f3a;
    background-position: 0 -15px;
}

.btn-green {
    background-image: linear-gradient(to bottom, #5cb58c 0, #419641 100%);
    background-repeat: repeat-x;
    color: rgb(255,255,255);
    border: 1px solid #3e8f3e;
    padding: 5px 15px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
}
.btn-green:hover,
.btn-green:focus {
    background-color: #419641;
    background-position: 0 -15px;
}